body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-buttons a {
    display: inline-flex;
    text-decoration: none;
    font-size: 36px;
    width: 120px;
    height: 120px;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 10px;
}

.social-buttons a::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background: linear-gradient(45deg, #525252, #111);
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s ease-in;
}

.social-buttons a:hover::before {
    transform: scale(0);
}

.social-buttons a i {
    transition: 0.3s ease-in;
}

.social-buttons a:hover i {
    background: linear-gradient(45deg, #525252, #111);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(2.2);
}